@use "@angular/material" as mat;
@use "../m3-theme";
@use "app.theme";

@include mat.core();

$client-light-theme: mat.define-theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (
        scale: 0,
      ),
    )
);

$client-dark-theme: mat.define-theme(
    (
      color: (
        theme-type: dark,
        primary: mat.$cyan-palette,
        tertiary: mat.$blue-palette,
      ),
      density: (
        scale: 0,
      ),
    )
);

// Light theme
// Un comment below to use theme created by ng add @angular-material
// $theme: $client-light-theme;

// Light Theme created by ng generate @angular-material:m3-theme
$theme: m3-theme.$light-theme;

// Dark theme
// Un-comment below to use dark theme using @angular/material
$dark-theme: $client-dark-theme;

// Dark Theme created by ng generate @angular-material:m3-theme
//$dark-theme: m3-theme.$dark-theme;

:root {
  @include mat.all-component-themes($theme);

  // Components themes
  @include app.theme($theme);

  // Add backwards compatibility styles for color variants
  @include mat.color-variants-backwards-compatibility($theme);

  @media (prefers-color-scheme: dark) {
    @include mat.all-component-colors($dark-theme);

    // Components themes
    @include app.theme($dark-theme);

    @include mat.color-variants-backwards-compatibility($dark-theme);
  }
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
