.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.spacer {
  flex: 1 1 auto;
}

.connection-button-row {
  display: table-cell;
}

.sidenav-scroll-wrapper {
  padding: 0 20px 0 20px;
  height: calc(100vh - 64px);
  overflow: auto;
}

.sidenav-content {
  max-width: 100%;
  margin: 0 auto;
}
