<h1>Products</h1>
<mat-grid-list cols="2" gutterSize="10px" rowHeight="150px">
  <mat-grid-tile *ngFor="let product of products.list">
    <mat-card appearance="outlined" class="product-card">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a (click)="selectProduct(product)" [routerLink]="['/products', product.name]"
                             class="product-link">{{ product.name | uppercase }}</a>
          </mat-card-title>
          <mat-card-subtitle>Price: <span class="product-price">{{ product.price }} $</span></mat-card-subtitle>
          <img [alt]="`${product.name}`" [ngSrc]="`/${product.name}.png`" height="100" mat-card-sm-image width="100">
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

