<h1>Products</h1>
<mat-grid-list cols="2" rowHeight="150px" gutterSize="10px">
  <mat-grid-tile *ngFor="let product of products.list">
    <mat-card class="product-card" appearance="outlined">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><a class="product-link" [routerLink]="['/products', product.name]" (click)="selectProduct(product)">{{ product.name | uppercase }}</a>
          </mat-card-title>
          <mat-card-subtitle>Price: <span class="product-price">{{ product.price }} $</span></mat-card-subtitle>
          <img mat-card-sm-image [ngSrc]="`/${product.name}.png`" [alt]="`${product.name}`" width="100" height="100">
        </mat-card-title-group>
      </mat-card-header>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

